<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings> 
    <add key="sqlTimeout" value="180"/>
    <add key="sqlBaglanti" value="Data Source=.;Initial Catalog=EBA;User ID=;Password="/> <!--Sql bilgisi-->
    <add key="mailLoginGonderen" value=""/> <!--Gönderecek mail-->
    <add key="mailSmtpGonderen" value=""/> <!--Gönderecek mail-->
    <add key="mailLoginGonderenAd" value="Mersus Bilişim Destek Sistemi"/> <!--Maili gönderenin görünen adı-->
    <add key="mailSifre" value=""/> <!--Mailim şifresi-->
    <add key="mailSmtpSsl" value="true"/>  
    <add key="mailSmtpPort" value="587"/> 
    <add key="mailSmtpHost" value="smtp.gmail.com"/>  
    <add key="mailGonderCC" value=""/> <!--CC mailleri .-->
    <add key="mailDestekTalepleri" value=""/> <!--Günlük kaç tane açıldığı sorgusu  .-->
    <add key="mailGonderSorgu" value=""/> <!--Günlük toplam kaç tane talep açıldığı sorgusu  .-->
    <add key="mailGrafikSorgusu" value=""/> <!--Ay boyunca günlük açılan toplam destek sayısının sorgusu  .-->
  </appSettings>
</configuration>
